<!doctype html>
<html>
	<head>
		<title> Welcome! </title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/Style.css') }}"/>
	</head>
	<body>
		<navbar> </navbar>
		<header>WELCOME! </header>
		<main>  
			<p>Welcome {{ value }}, to begin we'd like to get your name</p> 
			<h2>you can give us a fake one if you want! </h2>
			<form action=" {{ url_for('start')}}" method="POST">
				<input type="text" name="get_name" placeholder="Enter your name">
				<button type="submit" class="btn">Let's go</button>
			</form>
		</main>
	<footer>
		CREATED BY 40345238(EILIDH GRANT)
	</footer>

	</body>

</html>
