<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/Style.css') }}">
	<title>Let's learn html - stage selection</title>
</head>
<body>
	<header>

		<navbar>
		<table>
			<tr> <td> <a href="{{ url_for('accessability') }}">ACCESSABILITY MENU</a></td> </tr></table></navbar>
		LET'S LEARN HTML
	</header>
	<main>
		<p>Welcome to LET'S LEARN HTML name here! We will cover the basics of HTML and help you to understand what each tag is and how to use them to create your own HTML web page! All you will need is this website and notepad++ on your computer.</p>
		<p>Let's begin with picking a class for your skill level!</p>
		<a href="{{ url_for('stageone') }}"><button>THE GUIDE</button></a>
		<a href="{{ url_for('stagetwo') }}"><button>THE TEXT EDITOR</button></a>
	</main>
	<footer>
		CREATED BY 40345238(EILIDH GRANT)
	</footer>
	
</body>
</html>
