<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/Style.css') }}"/>
	<title>DIY: Create your own HTML!</title>
	</head>
	<script>
		function download(){
    			var text = document.getElementById("userinput").value;
    			text = text.replace(/\n/g, "\r\n"); 
    			var blob = new Blob([text], { type: "text/plain"});
    			var anchor = document.createElement("a");
    			anchor.download = "mywebpage.html";
    			anchor.href = window.URL.createObjectURL(blob);
    			anchor.target ="_blank";
    			document.body.appendChild(anchor);
    			anchor.click();
    			document.body.removeChild(anchor);
 }

	</script>

	<body>
		<header>
	
		<navbar>
		<a href="{{ url_for('home') }}"> HOME</a><a href="{{ url_for('accessability') }}">             ACCESSABILITY MENU</a>/ <a href="{{ url_for('stageone') }}"> THE GUIDE </a></navbar>
		STAGE TWO: DIY! </header>

		<main>
			Bellow you should be able to see a text box. This is it, from here on out you are on your own! If you need the<a href="{{ url_for('home') }}"> guide</a> as reference then it is advised that you open it in another tab, as you will loose your progress.
			<p>To get you started the text editor contains a template for you to edit and put your code into.</p>
			<p>You may need to resize your textbox in order to get the best view of the HTML</p>
			<p> </p>
			<textarea id="userinput">&lt;!doctype html&gt;
				&lt;html&gt;
					&lt;head&gt;
						&lt;title&gt; &lt;/title&gt;
					&lt;/head&gt;
					&lt;body&gt;
					&lt;/body&gt;
				&lt;/html&gt;

			</textarea>
			<p>to test your code simply save the code using the 'save' button bellow and right click the file and open in browser. If your HTML is error free then you should be able to see your webpage!</p>
			<p>(you should find your saved file on your desktop!)</p>
			<button onclick="download()" >SAVE</button>
		</main>

		<footer>
			CREATED BY 40345238(EILIDH GRANT)
		</footer>
	</body>

</html>
